@import "tailwindcss";

@source "../src";

@utility translate-y-full {
  transform: translateY(100%);
}

@utility translate-y-0 {
  transform: translateY(0);
}

body,
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
